{% extends 'layout/default.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block content %}
	<main>

		<section>
		<div class="title">
			<h1>À propos</h1>
		</div>
		
		
		</section>
		<article class="main-container">

			<div class="about-article">
				<p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nesciunt non aperiam illum, necessitatibus maiores beatae sunt aut dolore aliquam, fuga officiis autem cum id obcaecati enim. Perferendis fugiat sequi deserunt nulla quam nihil exercitationem id voluptas, quasi eveniet praesentium eaque? Nisi animi quae delectus dolore, illum quos commodi dicta beatae amet ipsum sed tempore eum! Eligendi, ipsum eius sequi dolores repudiandae numquam maiores, velit, possimus eaque incidunt deserunt aliquid impedit molestiae? Est eaque nostrum accusamus. Quam, quibusdam iusto aspernatur doloremque deleniti quaerat ex voluptatum vel velit accusantium molestias ipsa blanditiis distinctio saepe itaque, vitae, totam natus consequatur modi voluptatem earum. Rerum ad a porro omnis quos consequatur, repellendus illo beatae distinctio rem dolore velit ipsa eveniet accusamus animi repellat provident iste quo libero! Tempore enim perferendis voluptatibus molestiae iste, nam consequuntur dolorum voluptatum optio laborum nemo a. Corporis dolorem aperiam quas ratione doloribus sint ullam ex enim animi repellat!</p>
			</div>

		</article>

	</main>
{% endblock %}
