{% extends 'layout/default.html.twig' %}


{% block title %}Liste des articles{% endblock %}

{% block content %}

	<main>
		<section>
			<h1>{{article.title}}</h1>
		</section>

		<article class="main-container">

			<div class="detail-article mt-3 mx-auto">
				<p class="fs-5">{{article.description}}</p>
			</div>

		</article>

	</main>

{% endblock %}
